17
. Write a SQL to get the cumulative sum of an employeeâ€™s salary over a period of 3 month but exclude the most recent month? The result should be display by id ascending and then by month decending ?

In [ ]:
WITH RankedSalaries AS (
    SELECT
        id,
        month,
        salary,
        ROW_NUMBER() OVER (PARTITION BY id ORDER BY month DESC) AS rn
    FROM EmployeeSalary
)
SELECT
    rs.id,
    rs.month,
    rs.salary,
    SUM(rs.salary) OVER (PARTITION BY rs.id ORDER BY rs.month DESC ROWS BETWEEN 2 PRECEDING AND 1 PRECEDING) AS cumulative_sum
FROM RankedSalaries rs
WHERE rs.rn <= 4
ORDER BY rs.id ASC, rs.month DESC;