16. Write a SQL query to find the median salary of each company.?

In [ ]:
WITH CompanySalaries AS (
    SELECT
        Company,
        Salary,
        ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary) AS RowAsc,
        ROW_NUMBER() OVER (PARTITION BY Company ORDER BY Salary DESC) AS RowDesc
    FROM Employee
)
SELECT
    Company,
    AVG(Salary) AS MedianSalary
FROM CompanySalaries
WHERE RowAsc = RowDesc OR RowAsc + 1 = RowDesc OR RowAsc = RowDesc + 1
GROUP BY Company;