13. Write an SQL query to retrieve the names and addresses of all persons from the "Person" table along with their corresponding addresses from the "Address" table.

In [ ]:
SELECT
    p.FirstName,
    p.LastName,
    a.AddressId,
    a.City,
    a.State
FROM
    Person p
JOIN
    Address a ON p.PersonId = a.PersonId;